mixin actionContenDetail() 
    div(class="d-flex flex-wrap p-4 content-functions-container")
        button(class="content-functions-item px-1 mb-2" id="btn-add-img" type="button")
            img(src="/static/imgs/ButtonAddImage.png")
        button(class="content-functions-item px-1 mb-2" id="btn-add-text" type="button")
            img(src="/static/imgs/ButtonAddText.png")
        button(class="content-functions-item px-1 mb-2" id="btn-add-textItalic" type="button")
            img(src="/static/imgs/ButtonAddTextItalic.png")
        button(class="content-functions-item px-1 mb-2" id="btn-add-title" type="button")
            img(src="/static/imgs/ButtonAddTitle.png")
        button(class="content-functions-item px-1 mb-2" id="btn-add-titleItalic" type="button")
            img(src="/static/imgs/ButtonAddTitleItalic.png")
        button(class="content-functions-item px-1 mb-2" id="btn-add-textBold" type="button")
            img(src="/static/imgs/ButtonAddTextBold.png")
        button(class="content-functions-item px-1 mb-2"  id="btn-add-titleBold" type="button")
            img(src="/static/imgs/ButtonAddTitleBold.png")
        button(class="content-functions-item px-1 mb-2"  id="btn-add-richText" type="button")
             img(src="/static/imgs/ButtonAddRichText.jpg")
        button(class="content-functions-item px-1 mb-2"  id="btn-add-video" type="button")
             img(src="/static/imgs/ButtonAddVideo.png")
        button(class="content-functions-item px-1 mb-2"  id="btn-add-audio" type="button")
             img(src="/static/imgs/ButtonAddAudio.png")