.weather {
  display: flex;
  height: 30px;
  align-items: center;
  color: #787878;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  margin-left: 20px;
  img {
    width: 30px;
    height: 30px;
  }

}
.loading{
  padding-top: 3px;
font-size: 14px;
}
