doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 500
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    body 
        h2(class="text-center text-danger w-full h-full") 500